/*  This file contains styles applied to the SAM Helper content */
/*  This file lives at: https://github.com/GSA-OCSIT/sam-helper */

.pull-tab {
    position: absolute;
    top: 10em;
    left: -2.5em;
    width: 8em;
    height: 3em;
    z-index: 100000;
    margin: 0px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    background-color: #ffddff;
    color: #444444;
    border:2px solid black;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    font-size:24px;
    font-weight:normal;
}

.help-toggler {
  position:fixed;
  width: 100%;
  background-color: black;
  z-index: 10000;
}

.help-toggler p {
  width: 100%;
  background-color: black;
  line-height: 125%;
  font-size: 125%;
}

.help-toggler#helper-toggle-div p a#toggle-link {
  background-color: inherit;
  line-height: inherit;
  font-size: inherit;
}

div.help-shadow#toggler-shadow {
    position:static;
    z-index: 9000;
}

help-toggler a:link {
  color: lightblue;
}

help-toggler a:visited {
  color: lightblue;
}

help-toggler a:active {
  color: lightblue;
}
help-toggler a:hover {
  color: lightblue;
}

.left-content {
    max-width: 50%;
    float: left;
}

.right-content {
    width: 30%;
    float: right;
}

div#busa-main {
  text-align: left;
  height: 10em;
  z-index: 10000;
  top: 1em;
  left: 0px;
  background-color: 0xcccccc;
}

div.helper-content#helper-top-bar {
  position:fixed;
  text-align: left;
  height: auto;
  width:100%;
  color: black;
  font-size: 120%;
  z-index: 10000;
  border: solid black 4px;
  border-top: 0px;
  background-color: #cacaca;
}

div.helper-content div.helper-content dl,dt,dd {
    width: inherit;
}

div.helper-content#helper-top-bar div.helper-content#page_section {
  float: left;
  height: 100%;
  width: 200px;
  margin: 5px 5px 5px 20px;
  padding: 5px;
}

div.helper-content#helper-top-bar div.helper-content#progress_section {
  width: auto;
  height: 100%;
  padding: 5px;
  margin: 5px 5px 5px 5px;
}

div.helper-content#helper-top-bar div.helper-content#site_section {
  float: right;
  height: 100%;
  width: 200px;
  padding: 5px;
  margin: 5px 20px 5px 5px;
  font-size: 80%;
}

div.helper-content div.helper-content dl dt {
  display:inline;
  width 90 px;
  text-align:right;
  font-family: 'Lucida Grande', sans-serif;
  font-weight:bolder;
}

div.helper-content div.helper-content dl dd {
  display:inline;
  width 90 px;
  text-align:left;
}

body div.quick_hint#display-hover-text {
    position: absolute;
    background-color: #cacaca;
    border: solid red 2px;
    margin: 3px;
    padding-right: 20 px;
    color: black;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 11px;
    z-index: 20000;
}

div#busa-content div.helper_item.overview {
    padding: 5px 3px;
}

div.helper_item.overview p {
    padding: 5px 3px;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 80%;
    background-color: #cacaca;
    color: black;
}

div.helper_item.help_info {
    position: fixed;
    height:100px;
    border: solid black 3px;
    padding: 5px 3px;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 80%;
    background-color: #cacaca;
    color: black;
    z-index: 100000;
}
