/*  This file contains styles applied to the SAM Helper content */
/*  This file lives at: https://github.com/GSA-OCSIT/sam-helper */

.help-toggler {
  position:fixed;
  width: 100%;
  background-color: black;
  z-index: 10000;
}

.help-toggler p {
  width: 100%;
  background-color: black;
  line-height: 125%;
  font-size: 125%;
}

.help-toggler#helper-toggle-div p a#toggle-link {
  background-color: inherit;
  line-height: inherit;
  font-size: inherit;
}

.help-shadow#toggler-shadow {
    position:static;
    z-index: 9000;
}

help-toggler a:link {
  color: lightblue;
}

help-toggler a:visited {
  color: lightblue;
}

help-toggler a:active {
  color: lightblue;
}
help-toggler a:hover {
  color: lightblue;
}

#busa-main {
  text-align: left;
  height: 10em;
  z-index: 10000;
  top: 1em;
  left: 0px;
  background-color: 0xcccccc;
}

.helper-content#helper-top-bar {
  position:fixed;
  text-align: left;
  height: auto;
  width:100%;
  color: black;
  font-size: 120%;
  z-index: 10000;
  border: solid black 4px;
  border-top: 0px;
  background-color: #cacaca;
}

.helper-content .helper-content dl,dt,dd {
    width: inherit;
}

.helper-content#helper-top-bar .helper-content#page_section {
  float: left;
  height: 100%;
  width: 200px;
  margin: 5px 5px 5px 20px;
  padding: 5px;
}

.helper-content#helper-top-bar .helper-content#progress_section {
  width: auto;
  height: 100%;
  padding: 5px;
  margin: 5px 5px 5px 5px;
}

.helper-content#helper-top-bar .helper-content#site_section {
  float: right;
  height: 100%;
  width: 200px;
  padding: 5px;
  margin: 5px 20px 5px 5px;
  font-size: 80%;
}

.helper-content .helper-content dl dt {
  display:inline;
  width 90 px;
  text-align:right;
  font-family: 'Lucida Grande', sans-serif;
  font-weight:bolder;
}

.helper-content .helper-content dl dd {
  display:inline;
  width 90 px;
  text-align:left;
}

body .quick_hint#display-hover-text {
    position: absolute;
    background-color: #cacaca;
    border: solid red 2px;
    margin: 3px;
    padding-right: 20 px;
    color: black;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 11px;
    z-index: 20000;
}

div#busa-content div.helper_item.overview {
    padding: 5px 3px;
}

div.helper_item.overview p {
    padding: 5px 3px;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 80%;
    background-color: #cacaca;
    color: black;
}

div.helper_item.help_info {
    position: fixed;
    height:100px;
    border: solid black 3px;
    padding: 5px 3px;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 80%;
    background-color: #cacaca;
    color: black;
    z-index: 100000;
}
