body {
    background-image: url('samscreen.png');
}

#indicators {
  position: relative;
  width: 600px;
  margin: auto;
  min-height: 100px;
}

.usecase {
  width: auto;
}

.state-box {
    width: 130px;
    height: 70px;
    margin: 5px 20;
    border: 2px #666666 solid;
    font-family: "Lucinda Grande",Arial, sans-serif;
    font-size: 17px;
    text-align: center;
}

div.arrow-chain#registration-progress {
    width: auto;
    margin-top: 150px;
    margin-left: 350px;
    padding-left: 100px;
    padding: 20px;
    background-color: rgba(202,202,202,0.0);
}

div.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.0);
}

div.popup-container div#clicked-arrow {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    height: auto;
    padding: 6px;
    border: groove #aa8833 6px;
    background-color: #ffbbaa;
    color: black;
}

div.popup-container div#clicked-arrow p {
    width: 200px;
    color: black;
    font-size: 20px;
}

div.popup-div {
    margin-left: auto;
    margin-right: auto;
    z-index: 10001
    font-size: 20px;
    color: black;
    background-color: blue;
}

div.popup-div p {
    font-size 20px;
    font-family:"Lucinda Grande",Arial,sans-serif;
}
div.popup-div#show-more {
    z-index: 10002
}

button#more-info {
    width: auto;
    font-size: 13px;
}

div.svg-div svg {
    width:200;
}

text.arrow-text {
    display: inline;
    font-family: "Lucida Grande",Arial,sans-serif;
    font-size: 14px;
    font-weight: 110%;
}

div.arrow-div {
    display:inline;
}

div#anchor-chain {
}

div#anchor-chain div.svg-div svg.text-arrow {
}

div#state-machine {
    height: 400px;
    overflow: scroll;
}

button.usecase-button {
    font-size: 18px;
}

table.tracker-table#state-table {
    position:absolute;
    visibility:hidden;
    background-color:LightBlue;
}

div.usecase-controls {
    margin-left: 500px;
    margin-top: 100px;
    padding: 3px;
    background-color: #ffffdd;
    border: groove #800000 5px;
    font-size: 20px;
    width: 500px;
}

h2.usecase#top-header {
    margin-top: 0 px;
    padding-top: 0px;
    font-size: 24px;
}

p.usecase#usecase-currentstate {
    font-size: 20px;
}
